# Ignore eveything so repository can be used in game instance
/*

# Directory Unignores
# !mods/
!kubejs/
!mods/panorama/
!packmode/
!panoramas/
!scripts/
!compile_data/
!.github/

# File Unignores
!.gitattributes
!.gitignore
!LICENSE
!panorama.dat
!README.md

# Config Unignore - Directories
!config/fancymenu/*
!config/ftbquests/*
!config/gamestages/*
!config/hammerlib/*
!config/jade/*
!config/mysticalcustomization/*
!config/skyblockbuilder/templates*
!config/jei/blacklist*

# Config Unignore - File
!config/badmobs-common.toml
!config/create_new_age-*
!config/create-*
!config/createlowheated-*
!config/cucumber-tags.json
!config/exnihilosequentia-common.toml
!config/gtceu.yaml
!config/sgjourney-*
!defaultconfigs/create-*
